.selectedHouse {
    width: 336px;
    margin: 20px auto;
    position: relative;
    .backButton{
        position: absolute;
        left: 10px;
        top: 10px;
        width: 35px;
        height: 35px;
    }
}